/* * {
    background-color: cyan;
} */

body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

h1, h2 {
    color: #1d3557;
}

#signup {
    background-color: #1d3557;
    color: #f1faee;
}

span {
    color: #457b9d;
}

.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

.post a {
    color: #457b9d;
}

footer a {
    color: #e63946;
}

a:hover {
    text-decoration: overline;
}

.post button:active {
    background-color: #e76f51;
}

input[type="text"]:checked {
    background-color: #f1faee;
}

.post:nth-of-type(2n) {
    background-color: #32a852;
}

h2::first-letter {
    font-size: 50px;
}

p::first-line {
    color: red;
}

p::selection {
    background-color: yellow;
}

.post button:hover {
    background-color: #e63946;
    color: #f1faee;
}

button:hover {
    background-color: olive;
}